@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: -apple-system;
}
.row .aja{
    position: relative;
}
p.teks{
    position: absolute;
    top: 45%;
    left: 50%;
    bottom: 55%;
    transform: translate(-50%, 50%);
    color:whitesmoke;
}
/* .footer{
    background-color: #060c17;
} */
.footer{
    background-color: #060c17;
}
.changesHeader{
    background-color: grey;
}
.changeswarnanav{
    color: #ff4c15;
}
.nav-link{
    color: azure;
}
.nav-link:hover{
    color: #ff4c15;
    font-weight: bolder;
}
